.decoration-none {
  text-decoration: none;
}
.roboto {
  font-family: "Roboto", sans-serif;
  /* font-family: 'Times New Roman', Times, serif; */
}
.icon-yellow {
  color: #ffd700;
}
body::-webkit-scrollbar {
  display: none;
}
/* global colors */
.background-clr-blck{
  background-color: black;
}
.background-clr-blue{
  background-color: blue;
}
.background-clr-red{
  background-color: red;
}
.background-clr-yellow{
  background-color: yellow;
}
.background-clr-green{
  background-color: green;
}
.background-clr-pink{
  background-color: pink;
}
.background-clr-orange{
  background-color: orange;
}
.clr-white{
  color: white;
}
/* global colors */