.decoration-none {
  text-decoration: none;
}
.roboto {
  font-family: "Roboto", sans-serif;
  /* font-family: 'Times New Roman', Times, serif; */
}
.icon-yellow {
  color: #ffd700;
}
body::-webkit-scrollbar {
  display: none;
}
